@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #171717;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.hidden__sroll::-webkit-scrollbar {
    display: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
.hidden__sroll {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
}

/* div {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-template-rows: repeat(2, 3fr);
    grid-template-areas:
        'wind humidity'
        'sun sun';
}
.item1 {
    grid-area: wind;
}
.item2 {
    grid-area: humidity;
}
.item2 {
    grid-area: sun;
} */
